@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source San Pro", sans-serif;
  overflow: auto;
  overflow-x: hidden;
}
.layout {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent any overflow */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #88888800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
::-webkit-scrollbar {
  width: 6px; /* Adjust thickness of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #f1f1f175;
  border-radius: 10px;
  min-height: 40px; /* Sets the minimum length of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.recharts-tooltip-wrapper {
  z-index: 9999 !important;
  position: absolute !important;
  pointer-events: none;
}